# Prerequisites
ICantBelieveItsNotVicky.d

# Compiled Object files
ICantBelieveItsNotVicky.slo
ICantBelieveItsNotVicky.lo
ICantBelieveItsNotVicky.o
ICantBelieveItsNotVicky.obj

# Precompiled Headers
ICantBelieveItsNotVicky.gch
ICantBelieveItsNotVicky.pch

# Linker files
ICantBelieveItsNotVicky.ilk

# Debugger Files
ICantBelieveItsNotVicky.pdb

# Compiled Dynamic libraries
ICantBelieveItsNotVicky.so
ICantBelieveItsNotVicky.dylib
ICantBelieveItsNotVicky.dll

# Fortran module files
ICantBelieveItsNotVicky.mod
ICantBelieveItsNotVicky.smod

# Compiled Static libraries
ICantBelieveItsNotVicky.lai
ICantBelieveItsNotVicky.la
ICantBelieveItsNotVicky.a
ICantBelieveItsNotVicky.lib

# Executables
ICantBelieveItsNotVicky.exe
ICantBelieveItsNotVicky.out
ICantBelieveItsNotVicky.app

# debug information files
ICantBelieveItsNotVicky.dwo
